{# Template for non-articles (About Me, Privacy…) #}

{% extends "base.html" %}

{%- block main_content %}

{{ macros_page_header::page_header(title=page.title) }}

<div id="page-content">
    <main>
        {# The replace pattern is used to enable arbitrary locations for the Table of Contents #}
        {# This is Philipp Oppermann's workaround: https://github.com/getzola/zola/issues/584#issuecomment-474329637 #}
	{# {{ page.content | replace(from="<!-- toc -->", to=macros_toc::toc(page=page, header=false, language_strings=language_strings)) | safe }} #}
	{{ page.content | safe }}

	{% set resume_url = get_url(path="/resume/resume-nathaniel-navarro.pdf") %}




	<object data="/resume/Meng_Resume.pdf" type="application/pdf" width="100%" height="1000">
	<p>My resume can be downloaded 
	<a href="/resume/Meng_Resume.pdf">here</a>.</p>
	</object>
	

    </main>
</div>

{%- include "partials/extra_features.html" -%}

{%- endblock main_content %}